# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
*.mp4
vu
vu.app/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

log/
main/__debug_bin
vendor/modules.txt
.env
.github/workflows/docker-image.yml
task-definition.json
rustlib/Cargo.lock
rustlib/
templates/